@page "/projects"

<PageTitle>
    Michael Bond - Projects
</PageTitle>

<MudText Typo="@Typo.h3">
    My Projects
</MudText>

<div class="my-3">
    <SocialLinkComponent SocialLink="@SocialLink.MyGitHub"
                         CompactMode
                         NameOverride="Find more on my GitHub!"
                         TitleOverride="Find more on my GitHub!" />
</div>

<MudGrid Class="mb-3"
         Spacing="1">
    @foreach (var project in ProjectsList)
    {
        <MudItem xs="12"
                 sm="6"
                 lg="4"
                 xl="3"
                 xxl="2">
            <MudCard>
                <MudCardHeader>
                    <MudStack>
                        <MudText Typo="@Typo.h5">
                            @project.Name
                        </MudText>
                        @if (project.Description is { Length: > 0 })
                        {
                            <MudText Typo="@Typo.body2">
                                @project.Description
                            </MudText>
                        }
                    </MudStack>
                </MudCardHeader>
                @if (project.Screenshots is { Count: > 0 })
                {
                    <MudCarousel Context="productImage"
                                 ItemsSource="@project.Screenshots">
                        <ItemTemplate>
                            <MudCardMedia Image="@productImage.Url"
                                          Title="@productImage.Title" />
                        </ItemTemplate>
                    </MudCarousel>
                }
                <MudCardActions Class="d-flex gap-4">
                    <MudButton StartIcon="@Icons.Material.Filled.OpenInBrowser"
                               Variant="@Variant.Filled"
                               Color="@Color.Primary"
                               title="@($"'{@project.Name}' on the web")"
                               Href="@project.Url"
                               Target="_blank">
                        Open
                    </MudButton>
                    <MudButton StartIcon="@Icons.Custom.Brands.GitHub"
                               Variant="@Variant.Filled"
                               title="@($"'{@project.Name}' on GitHub")"
                               Href="@project.GitHubUrl"
                               Target="_blank">
                        See source
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    }
</MudGrid>
